:root{
    --green: rgba(165,185,176,0.90);
}
#interface{
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    will-change: transition;
    transition: 1s;
}
#interface a{
    background: black;
    position: absolute;
    bottom: 0;
    right: 5%;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
    opacity: 0.2;
    will-change: transition;
    transition: 1s;
}
#interface a:visited{
    color: white;
}
#interface a:hover{
    opacity: 1;
}
#model{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100;
    overflow: hidden;
  }
  #info{
    position: relative;
    width: 80%;
    max-width: 350px;
    margin: 45vh auto 0 auto;
    background: var(--green);
    padding: 2.5%;
    color: white;
    font-family: lato;
  }
  #info h3{
    padding: 1rem 0 0 0;
    margin: 0;
    font-size: 1.2rem;
    line-height: 0rem;
  }
  #close {
    width: 1rem;
    height: 1rem;
    background: rgba(255,60,65,1);
    position: absolute;
    z-index: 150;
    top: -1.5rem;
    right: 0;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #close::before{
    font-family: lato;
    content: "Close";
    transform: rotate(-45deg);
    position: absolute;
    top: 25%;
    right: 100%;
    color: white;
    text-transform: uppercase;
  }
  .hide{
    animation: hide 2s forwards cubic-bezier(.31,-0.4,.15,1.01);
  }
  .intFaceHide{
      display: none;
  }
  /*.desktop{
    display: none;
  }*/
  @keyframes hide{
    100%{
      transform: translateX(60%);
      opacity: 0;
    }
    /*100%{
      opacity: 0;
      pointer-events: none;
    }*/
  }
  /*@media (min-width: 768px){
    #info{
        position: relative;
        width:50%;
    }
  }
  @media (min-width: 1280px){
    .mobile{
      display: none;
    }
    .desktop{
      display: inherit;
    }
    #info{
        position: relative;
        width:25%;
    }
  }*/
  